.top-bar{
    width: 100%;
    height: 56px;
    background-color: transparent;
    color:white;
    font-family: 'Josefin Sans',sans-serif;
    transition: all 1s;
    /* 定位 */
    position:sticky;
    top:0;
    z-index: 99;
}

.top-bar>.scroll{
    display: flex
}

.top{
    transition: all 1s;
    background-color: white;
    color:#666
}

/* .top-bar .top{
    color:white;
    background-color: transparent;
} */

.top-bar-left, .top-bar-right{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-left{
    line-height: 58px;
    font-size:20px;
    text-transform: uppercase;
}
.top-bar-middle{
    flex: 6;
}
.top-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none
}
.top-list-item{
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    line-height: 58px
}

.top-right{
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    margin-left: 100px
}
.top-right>i{
    margin:0 10px;
}

.head{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: contain;
    margin-left: 20px
}

